.footer {
    color: grey; font-size: 10px;
    position: relative; top: 510px; left: 0px;
    text-align:left;
}

div.texreg 
{
    text-align: center;
}

div.texreg table 
{
    margin: 20px auto; 
    text-align: left;
}

div.texreg td
{
  padding-left: 20px;
}
